*{
	margin: 0px;
	padding: 0px;
}
.jumbotron{
	background-color: #153449;
}
.jumbotron h1{
	color: white;
	text-align: center;
}
body{
	background-color: whitesmoke;
}
img{
	width: calc(100% - 20px);
	height: 250px;
}
.NewsGrid{
margin: 10px;
border:1px solid lightgray;
}